@font-face {
  font-family: 'Bebas Neue';
  src: url('../../assets/fonts/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: 'Cossette Texte';
  src: url('../../assets/fonts/CossetteTexte-Regular.ttf');
}

.tetris-title-label {
  font-family: 'Cossette Texte';
  font-size: 20;
}

.tetris-score-label {
  font-family: 'Cossette Texte';
  font-size: 18;
}

.tetris-overlay-title {
  font-family: 'Cossette Texte';
  font-size: 24;
}

.tetris-overlay-score {
  font-family: 'Cossette Texte';
  font-size: 15;
}

.tetris-button-label {
  font-family: 'Bebas Neue';
  font-size: 28;
}

.tetris-restart-label {
  font-family: 'Bebas Neue';
  font-size: 24;
}
